<h5>Hello <%= current_hunter.name %>, what would you like to do today?</h5>
<%= link_to 'Log Out', destroy_hunter_session_path, method: :delete, :class => "nav-link" %>
<%= link_to 'Houses', houses_path, :class => "nav-link" %>